*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }

   ul li{
    list-style: none;
   display: inline-block;
   margin-top: 25px;
   }

  header{
    width: 100%;
    height: 80px;
    background-color: rgb(44, 62, 80);
   color: #fff;
   position: fixed;
   z-index: 2000;
  }

.main-tab{
  font-size: 25px;
  font-weight: bold;
  position: relative;
  left: 8%;
}

.secondary-tabs{
  font-size: 16px;
  position: relative;
    left: 45%;
    padding: 5px;
}

section, main, aside,article{
  text-align: center;
}

section img{
  margin-top: 100px;
  margin-bottom: 30px
}

section{
  background: #18bc9c;
  height: 700px;
  width: 100%;
  color: #fff;
}

.title-element{
  font-size: 75px;
}


.star::before{
  content: '\f005';
  position: relative;
  top: -.6em;
  padding: 0 .25em;
  font-size: 2em;
  background-color:#18bc9c;
}

.star-dark::before{
  content: '\f005';
  position: relative;
  top: -.6em;
  padding: 0 .25em;
  font-size: 2em;
  background-color:#fff;

}

.star-dark{
 color: #2c3e50;
}

hr{
  height: 0;
  max-width: 250px;
  padding: 0;
  border: none;
  border-top: solid 5px;
  margin: 25px auto 30px;
  overflow: visible;

}

.specialties {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 28px;
}

main{
  padding-top: 90px;
 padding-bottom: 90px;
}

.title-box{
  font-size: 50px;
  color: #212529;
}



main img{
  width: 380px;
  padding: 13px
}

aside{
  padding-top: 100px;
  padding-bottom: 100px;
  background: #18bc9c;
  color: #fff;
  height: 660px;
  width: 100%;
}

aside h1{
  font-size: 50px;
}

aside div p{
  display: inline-block;
  text-align: left;
 font-family: 'Lato', sans-serif;
 font-size: 20px;
 line-height: 1.5;
box-sizing: border-box;

}

.first-paragraph, .second-paragraph{
  width: 31%;
  margin-top: 0;


}
.first-paragraph{
  padding-right: 20px;

}


.second-paragraph{
 padding-left: 20px;
}

aside .button{
   padding: 10px;
   background: #18bc9c;
   border: 2px solid white;
   margin-top: 60px;
   display: inline-block;
   font-size: 20px;
   border-radius: 5px;
}

.button a{
    text-decoration: none;
    color: #fff;
    font-family: 'Lato', sans-serif;
}
/*
form{
  border: 0 200px;
} */

article{
  margin: 100px 300px;
  margin-bottom: 200px;

}
.title-contact{
  font-size: 50px;
  color: #212529;
}

article form input{
  margin: 40px 0;
  display: block;
  padding: 2px;
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  width: 500px;
  border: none;
  outline: none;

}

article div{
  border-bottom: 1px solid #eee;
}

.message{
  padding-bottom: 150px;
}

.second-bottom{
  margin-top: 40px;
  background: #18bc9c;
  color: #fff;
  display: inline-block;
  padding: 12px;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 20px;
  float: left;

}

footer{
  clear:both;
  text-align: center;
  background: #2c3e50;
  padding: 20px 100px;
  color: #fff;
  height: 350px;
}

footer div{
 display: inline-block;
 width: 33%;
 padding: 3px;
 box-sizing: border-box;
 vertical-align: top;

}

footer h2{
  padding: 40px;
}

.second-section p{
display: inline-block;
border: 2px solid white;
padding: 10px;
font-size: 20px;
width: 50px;
border-radius: 100%;
margin: 2px;

}

.last-section{
  margin-top: 100px;
  font-family: 'Lato', sans-serif;
}

.description{
   font-family: 'Lato', sans-serif;
   font-size: 20px;
}
