*{  /* seteando el proyecto y aplicando especificaciones generales*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }

   ul li{ /* quitando viñetas, posisionandola en 1 sola linea */
    list-style: none;
   display: inline-block;
   margin-top: 25px;
   }

  header{ /* aplicando posicion, ancho, largo y color a la barra de navegacion */
    width: 100%;
    height: 80px;
    background-color: rgb(44, 62, 80);
   color: #fff;
   position: fixed;
   z-index: 2000;
  }

.main-tab{ /* aplicando formato al titulo*/
  font-size: 25px;
  font-weight: bold;
  position: relative;
  left: 8%;
}

.secondary-tabs{ /* aplicando posicion al menu de navegacion*/
  font-size: 16px;
  position: relative;
  left: 45%;
  padding: 5px;
}

section, main, aside,article{ /* centrando todas las secciones*/
  text-align: center;
}

section img{ /* aplicando formato a la imagen */
  margin-top: 100px;
  margin-bottom: 30px
}

section{ /*aplicando color de fondo y margenes*/
  background: #18bc9c;
  height: 700px;
  width: 100%;
  color: #fff;
}

.title-element{ /* aplicando tamaño al titulo*/
  font-size: 75px;
}


.star::before{ /* aplicando formato a las estrellas blancas*/
  content: '\f005';
  position: relative;
  top: -.6em;
  padding: 0 .25em;
  font-size: 2em;
  background-color:#18bc9c;
}

.star-dark::before{ /* aplicando formato a las estrellas-oscuras*/
  content: '\f005';
  position: relative;
  top: -.6em;
  padding: 0 .25em;
  font-size: 2em;
  background-color:#fff;

}

.star-dark{ /* aplicando color a la estrella-oscura*/
 color: #2c3e50;
}

hr{ /* aplicando grosor, tamaño a la linea horizontal*/
  height: 0;
  max-width: 250px;
  padding: 0;
  border: none;
  border-top: solid 5px;
  margin: 25px auto 30px;
  overflow: visible;

}

.specialties { /* aplicando tamaño y tipo de letra al texto*/
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 28px;
}

main{ /* añadiendo margenes a la 2da seccion */
  padding-top: 90px;
 padding-bottom: 90px;
}

.title-box{ /* aplicando tamaño y color al titulo*/
  font-size: 50px;
  color: #212529;
}

main img {
    width: 30%;
    padding: 13px;
}

aside{ /* aplicando tamaño y margenes a la 3era seccion*/
  padding-top: 100px;
  padding-bottom: 100px;
  background: #18bc9c;
  color: #fff;
  height: 660px;
  width: 100%;
}

aside h1{ /* aplicando tamaño al titulo*/
  font-size: 50px;
}

aside div p{ /* aplicando tamaño, tipo de letra, y espacios*/
  display: inline-block;
  text-align: left;
 font-family: 'Lato', sans-serif;
 font-size: 20px;
 line-height: 1.5;
box-sizing: border-box;

}

.first-paragraph, .second-paragraph{  /* aplicando tamaño a cada parrafo*/
  width: 31%;
  margin-top: 0;
}

.first-paragraph{ /* aplicando margen derecho al 1er parrafo*/
  padding-right: 20px;
}

.second-paragraph{ /* aplicando margen izquierdo al 1er parrafo*/
 padding-left: 20px;
}

aside .button{  /* aplicando formato a la caja*/
   padding: 10px;
   background: #18bc9c;
   border: 2px solid white;
   margin-top: 60px;
   display: inline-block;
   font-size: 20px;
   border-radius: 5px;
}

.button a{ /* aplicando formato al icono*/
    text-decoration: none;
    color: #fff;
    font-family: 'Lato', sans-serif;
}

article{  /* aplicando margenes a la 4ta seccion*/
  margin: 100px 300px;
  margin-bottom: 200px;

}
.title-contact{ /* aplicando formato al titulo*/
  font-size: 50px;
  color: #212529;
}

article form input{ /* aplicando formato a los input del formulario*/
  margin: 40px 0;
  display: block;
  padding: 2px;
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  width: 500px;
  border: none;
  outline: none;
}

article div{
  border-bottom: 1px solid #eee;
}

.message{ /* aplicando margen interno al boton de enviar*/
  padding-bottom: 150px;
}

.second-bottom{ /* aplicando formato al la caja*/
  margin-top: 40px;
  background: #18bc9c;
  color: #fff;
  display: inline-block;
  padding: 12px;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 20px;
  float: left;
}

footer{ /* aplicando margenes al pie de pagina*/
  clear:both;
  text-align: center;
  background: #2c3e50;
  color: #fff;
  height: 350px;
}

footer div{ /* aplicando tamaño y posicion horizontal*/
 display: inline-block;
 width: 33%;
 padding: 3px;
 box-sizing: border-box;
 vertical-align: top;

}

footer h2{ /* aplicando formato a los titulos*/
  padding: 40px;
}

.second-section p{ /* aplicando tamaño y forma a los iconos*/
display: inline-block;
border: 2px solid white;
padding: 10px;
font-size: 20px;
width: 50px;
border-radius: 100%;
margin: 2px;

}

.last-section{  /* aplicando formato al icono*/
  margin-top: 100px;
  font-family: 'Lato', sans-serif;
}

.description{ /* aplicando tamaño y tipo de letra */
   font-family: 'Lato', sans-serif;
   font-size: 20px;
}
